<div>
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>First Name:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('firstName')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Last Name:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('lastName')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Email:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('email')!.value}}"> 
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Cell Phone No:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('cellPhoneNo')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>House No:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('houseNo')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Street:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('streetName')!.value}}"> 
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Pincode:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('pincode')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>City:</mat-label>
                <input matInput value="{{claimsForm.get('userDetails')!.get('city')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>State</mat-label>
                <mat-select [(value)]="setState" [disabled]="true">
                    <mat-option *ngFor="let state of lstStates$ |async" [value]="state.id">
                        {{state.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field style="width: 32%;">
                <mat-label>Country</mat-label>
                <mat-select [(value)]="setCountry" [disabled]="true">
                    <mat-option *ngFor="let country of lstCountries$ |async" [value]="country.id">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" style="margin-top: 15px;">
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Manufacturer</mat-label>
                <mat-select [(value)]="setManufacturer" [disabled]="true">
                    <mat-option *ngFor="let maker of lstManufacturer$ |async" [value]="maker.id">
                        {{maker.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Model</mat-label>
                <mat-select [(value)]="setVehicleModel" [disabled]="true">
                    <mat-option *ngFor="let vModel of lstVehicleModels$ |async" [value]="vModel.id">
                        {{vModel.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Manufacturing Date:</mat-label>
                <input matInput value="{{claimsForm.get('vehicleDetails')!.get('manufacturingDate')!.value | date: 'MMMM d, y'}}"> 
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Kilometers Driven:</mat-label>
                <input matInput value="{{claimsForm.get('vehicleDetails')!.get('kilometersDriven')!.value}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Date of Purchase:</mat-label>
                <input matInput value="{{claimsForm.get('vehicleDetails')!.get('dateOfPurchase')!.value | date: 'MMMM d, y'}}"> 
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="full-width">
                <mat-label>Purchase Price:</mat-label>
                <input matInput value="{{claimsForm.get('vehicleDetails')!.get('purchasePrise')!.value}}"> 
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" (click)="SaveClaim()" *ngIf="!editMode">Save Claim</button>
            <button mat-raised-button color="primary" (click)="UpdateClaim()" *ngIf="editMode" [disabled]="!claimsForm.valid">Update Claim</button>
        </div>
    </div>
</div>
