.buttonPosition{
    position:fixed;
    right:10px;
    bottom:10px;
    z-index: 5;
}

.headerStyle{
    margin-top: 15px;
}

#editButton.mat-mdc-icon-button{
    color: darkgray;
}

@keyframes glowing {
    0% {
      background-color: #3f87a6;
      box-shadow: 0 0 5px #3f87a6;
    }
    50% {
      background-color: #3f87a6;
      box-shadow: 0 0 50px #3f87a6;
    }
    100% {
      background-color: #3f87a6;
      box-shadow: 0 0 5px #3f87a6;
    }
  }
  .mat-mdc-fab {
    animation: glowing 3000ms infinite;
  }

  .mat-mdc-header-cell {
    font-weight: bold !important;
    font-size: 16px;
  }
  .mat-mdc-cell{
    font-size: 16px;
  }

