.buttonPosition{
    position:fixed;
    right:10px;
    bottom:10px;
    z-index: 5;
}

.mat-mdc-fab{
    background-color: #2EAFF0;
}

.headerStyle{
    margin-top: 15px;
}

#editButton.mat-mdc-icon-button{
    color: #49EE78;
}

