.login-header-image {
    background-image: url('../../assets/images/SecureLogin.png');
    background-size:cover;
    width: 65px;
    height: 85px;
}
.mat-mdc-card-title{
    margin-top:25px;
    color: red;
}

.mat-mdc-card-avatar{
    margin-bottom: 0px;
}
.mat-mdc-raised-button:not(:disabled){
    height: 55px;
    background-color: #F3F781;
    font-size:x-large;
}
.mat-card-wrapper{
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    height: 98vh;
}
.login-background{
    background-image: url('../../assets/deepblack.jpg');
    background-size: cover;
}

.partialSubTitle{
    color: #33A8FF;
    font-weight: 600;
}

.mat-mdc-card {
	position: relative;
	z-index: 0;
	border-radius: 5px;
	overflow: hidden;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		background: white;
		border-radius: 5px;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}