.toolbar-spacer{
    text-align: center;
    color: darkgray;
}

.userStyle{
    color: black;
    margin-right: 5px;
    display: inline-block;
}

.toolbar-background{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.mat-mdc-menu-item .mat-icon{
    color: #f69d3c;
}